.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
	transition: opacity 0.25s;
}
.fade-fast-enter,
.fade-fast-leave-to {
	opacity: 0;
}

.fade-long-enter-active,
.fade-long-leave-active {
	transition: opacity 1s;
}
.fade-long-enter,
.fade-long-leave-to {
	transition: 0s;
	opacity: 0;
}

.fade-long-absolute-enter-active,
.fade-long-absolute-leave-active {
	transition: opacity 1s;
	position: absolute;
}
.fade-long-absolute-enter,
.fade-long-absolute-leave-to {
	transition: 0s;
	opacity: 0;
	position: absolute;
}

.fade-medium-enter-active,
.fade-medium-leave-active {
	transition: opacity 0.5s;
}
.fade-medium-enter,
.fade-medium-leave-to {
	position: absolute;
	transition: 0s;
	opacity: 0;
}
.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.6s;
}
.slide-fade-enter,
.slide-fade-leave-to {
	margin-left: -50px;
	opacity: 0;
}

.slide-fade-top-leave-active,
.slide-fade-top-enter-active {
	transition: all 0.5s;
}
.slide-fade-top-enter,
.slide-fade-top-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}

.fade-long-absolute-enter-active,
.fade-long-leave-active {
	transition: opacity 1s;
	position: absolute;
}
.fade-long-absolute-enter,
.fade-long-absolute-leave-to {
	transition: 0s;
	opacity: 0;
	position: absolute;
}
