.flex {
	display: flex;
	flex: 0 1 auto !important;
}
.flex-column {
	flex-direction: column;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.align-items-flex-end {
	align-items: flex-end;
}
.align-items-flex-start {
	align-items: flex-start;
}
.text-align-center {
	text-align: center;
}
.full-width {
	width: 100%;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
input:invalid {
	box-shadow: none;
}
input[type='number'] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}
* {
	letter-spacing: 0.01em;
}
//variables
$eth: #7d8ef6;
$first-dark: #1e0639;
$second-dark: #2c1559;
$third-dark: #3f1f63;
$forth-dark: #4d3779;
$fifth-dark: #624b90;
$general-font-color: #ffff;
$alert: #ff3b3b;
