.card-list-delete-popup {
	.popup-wrapper {
		border-radius: 47px;
		background-color: #3b2665 !important;
	}

	&__title {
		font-size: 36px;
		font-weight: 600;
		color: #fff;
	}
	&__paragraph {
		font-size: 16px;
		font-weight: 600;
		opacity: 0.5;
		color: #ffffff;
		margin: 15px 0;
		line-height: 23px;
	}
	&__card {
		font-size: 16px;
		font-weight: 600;
		color: #ffffff;
		margin-bottom: 30px;
	}
	&__wrapper {
		max-width: 250px !important;
		margin: 0 auto;
	}
	.button-wrapper {
		width: 120px !important;
		height: 50px !important;
		border-radius: 28px !important;
	}
	.cancel {
		background-color: #3b2665 !important;
		border-radius: 28px !important;
	}
	.image-plate {
		width: 53px;
		height: 53px;
		border-radius: 20px;
		background-color: #644a99;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);

		&.transparent {
			background-color: transparent;
		}
	}
}
.popup {
	position: relative;
	&__success-image {
		top: 106px;
		width: 671px;
		height: 379px;
		position: absolute;
		opacity: 0;
		z-index: 15 !important;
	}
}
