.pay-for {
	.wrapper {
		border-radius: 32px;
		background-color: #3b2665;
		padding: 25px 0 0;
	}
	.top-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 35px 25px;
	}
	.balance__title {
		color: #ffffff;
		font-size: 14px;
		margin-bottom: 8px;
	}
	.balance__amount {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: #ffffff;
	}
	.select {
		width: 100%;
		max-width: 640px;
		border-radius: 14px;
		background-color: #4d3779;
		position: relative;

		&__body {
			padding-right: 10px;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			max-height: 315px;
			overflow-y: auto;
			border-radius: 8px 0 0 8px;
			background-color: #4d3779;
			z-index: 10;
			scrollbar-width: thin;
			scrollbar-color: #947dc1 transparent;

			&::-webkit-scrollbar {
				width: 16px;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
			}
			&::-webkit-scrollbar-thumb,
			&::-webkit-scrollbar-thumb:hover {
				border-radius: 1px;
				background-color: #634997;
				width: 16px;
				cursor: pointer;
			}
			&::-webkit-scrollbar-thumb {
				box-shadow: inset -3px 0 0 6px #4d3779;
			}

			&-item {
				width: 100%;
				transition: 0.5s;
				min-height: 43px;
				padding: 0 10px;
				cursor: pointer;
				color: #fff;
				padding-right: 30px;
			}
			&-item:hover,
			&-item.active {
				background-color: #634997;
			}

			&-currency {
				width: 85px;
				margin-left: 10px;
				color: #ffffff;
				font-size: 16px;
				font-weight: 500;
				text-align: left;
			}
			&-balance {
				font-size: 14px;
				font-weight: 500;
				width: 90px;
			}
			&-balance-usd {
				font-size: 14px;
				font-weight: 500;
				opacity: 0.5;
				margin-left: 10px;
			}
		}
	}
	.select__header {
		padding: 0 15px;
		cursor: pointer;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.select__wallet-info {
		margin-left: 15px;
	}
	.select__curency-name {
		font-size: 14px;
		font-weight: 600;
	}
	.select__balance {
		font-size: 12px;
		font-weight: 600;
		color: #fff;
	}
	.payment-block {
		border-radius: 32px;
		background-color: #301c57;
		padding: 30px;
	}
	.select__expand {
		width: 20px;
		height: 20px;
		border-radius: 9px;
		background-color: #684e9c;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			transform: rotate(180deg);
		}
	}
	.payment-types {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 25px;
		border-bottom: 1px solid #4f377f;
	}
	.payment-type {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 28px;
		cursor: pointer;
	}
	.payment-type:last-of-type {
		margin-right: 0;
	}
	.payment-type .icon-block {
		width: 44px;
		height: 44px;
		border-radius: 17px;
		background-color: #543b88;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: -7px;
		z-index: 5;
	}
	.payment-type .text-block {
		height: 47px;
		line-height: 47px;
		padding: 0 15px;
		border-radius: 17px;
		background-color: #3b2665;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
	}
	.payment-directions {
		display: grid;
		grid-template-columns: repeat(6, 127px);
		grid-gap: 15px;
		margin-top: 25px;
	}
	.payment-direction {
		position: relative;
		width: 127px;
		height: 127px;
		border-radius: 14px;
		background-color: #452c76;
		transition: 0.5s;
		padding: 18px 18px 0 18px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
	.payment-direction.active {
		opacity: 0.7 !important;
	}
	.payment-direction:hover {
		opacity: 0.8;
	}
	.payment__image-block {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		background-color: #513685;
		height: 54px;
		margin-bottom: 10px;
	}
	.payment__text {
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		line-height: 16px;
	}
	.payment-direction__chosen-block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 43px;
		height: 43px;
		border-radius: 17px;
		background-color: #7156a5;
	}
}
